In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import re

## Monthly Performnce Data Collection

In [42]:
df1 = pd.read_csv("data/raw/Joy_perf_2024.csv")
df2 = pd.read_csv("data/raw/Luolin_2024.csv")

/var/folders/qw/h2s12w2524z6vtfqym33s89m0000gn/T/ipykernel_6408/1268883792.py:1: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("data/raw/Joy_perf_2024.csv")
/var/folders/qw/h2s12w2524z6vtfqym33s89m0000gn/T/ipykernel_6408/1268883792.py:2: DtypeWarning: Columns (12,13,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("data/raw/Luolin_2024.csv")

In [43]:
perf_2024 = pd.concat([df1,df2],axis=1)

In [44]:
perf_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8307560 entries, 0 to 8307559
Data columns (total 31 columns):
 #   Column                              Dtype
---  ------                              -----
 0   MONTHLY REPORTING PERIOD            int64
 1   CURRENT ACTUAL UPB                  float64
 2   CURRENT LOAN DELINQUENCY STATUS     object
 3   LOAN AGE                            int64
 4   REMAINING MONTHS TO LEGAL MATURITY  int64
 5   DEFECT SETTLEMENT DATE              float64
 6   MODIFICATION FLAG                   object
 7   ZERO BALANCE CODE                   float64
 8   ZERO BALANCE EFFECTIVE DATE         float64
 9   CURRENT INTEREST RATE               float64
 10  LOAN SEQUENCE NUMBER                object
 11  DDLPI                               float64
 12  MI RECOVERIES                       float64
 13  NET SALE PROCEEDS                   float64
 14  NON MI RECOVERIES                   float64
 15  TOTAL EXPENSES                      float64
 16  LEGAL COSTS                         float64
 17  MAINTENANCE AND PRESERVATION COSTS  float64
 18  TAXES AND INSURANCE                 float64
 19  MISCELLANEOUS EXPENSES              float64
 20  ACTUAL LOSS CALCULATION             float64
 21  CUMULATIVE MODIFICATION COST        float64
 22  STEP MODIFICATION FLAG              object
 23  PAYMENT DEFERRAL                    object
 24  ESTIMATED LOAN TO VALUE (ELTV)      int64
 25  ZERO BALANCE REMOVAL UPB            float64
 26  DELINQUENT ACCRUED INTEREST         float64
 27  DELINQUENCY DUE TO DISASTER         object
 28  BORROWER ASSISTANCE STATUS CODE     object
 29  CURRENT MONTH MODIFICATION COST     float64
 30  INTEREST BEARING UPB                float64
dtypes: float64(20), int64(4), object(7)
memory usage: 1.9+ GB

In [45]:
# Keep Columns that I need
keep_cols_P = [
    "INTEREST BEARING UPB",
    "CURRENT ACTUAL UPB",
    "CURRENT INTEREST RATE",
    "CURRENT LOAN DELINQUENCY STATUS",
    "LOAN AGE",
    "LOAN SEQUENCE NUMBER",
    "ZERO BALANCE CODE"
]

perf_2024 = perf_2024[keep_cols_P]
display(perf_2024.head())

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE
0,82000.0,82000.0,8.0,0,0,F24Q10000001,NaN
1,82000.0,82000.0,8.0,0,1,F24Q10000001,NaN
2,82000.0,82000.0,8.0,0,2,F24Q10000001,NaN
3,82000.0,82000.0,8.0,0,3,F24Q10000001,NaN
4,82000.0,82000.0,8.0,0,4,F24Q10000001,NaN

In [46]:
perf_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8307560 entries, 0 to 8307559
Data columns (total 7 columns):
 #   Column                           Dtype
---  ------                           -----
 0   INTEREST BEARING UPB             float64
 1   CURRENT ACTUAL UPB               float64
 2   CURRENT INTEREST RATE            float64
 3   CURRENT LOAN DELINQUENCY STATUS  object
 4   LOAN AGE                         int64
 5   LOAN SEQUENCE NUMBER             object
 6   ZERO BALANCE CODE                float64
dtypes: float64(4), int64(1), object(2)
memory usage: 443.7+ MB

In [47]:
output_fp = "data/process/PSA_perf_2024.csv"
perf_2024.to_csv(output_fp, index=False)

## Original Data Collection

In [48]:
df = pd.read_csv("data/raw/Joy_original_2024.csv")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047179 entries, 0 to 1047178
Data columns (total 32 columns):
 #   Column                                                        Non-Null Count    Dtype
---  ------                                                        --------------    -----
 0   CREDIT SCORE                                                  1047179 non-null  int64
 1   FIRST PAYMENT DATE                                            1047179 non-null  int64
 2   FIRST TIME HOMEBUYER FLAG                                     1047179 non-null  object
 3   MATURITY DATE                                                 1047179 non-null  int64
 4   METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION  933671 non-null   float64
 5   MORTGAGE INSURANCE PERCENTAGE (MI %)                          1047179 non-null  int64
 6   NUMBER OF UNITS                                               1047179 non-null  int64
 7   OCCUPANCY STATUS                                              1047179 non-null  object
 8   ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)                        1047179 non-null  int64
 9   ORIGINAL DEBT-TO-INCOME (DTI) RATIO                           1047179 non-null  int64
 10  ORIGINAL UPB                                                  1047179 non-null  int64
 11  ORIGINAL LOAN-TO-VALUE (LTV)                                  1047179 non-null  int64
 12  ORIGINAL INTEREST RATE                                        1047179 non-null  float64
 13  CHANNEL                                                       1047179 non-null  object
 14  PREPAYMENT PENALTY MORTGAGE (PPM) FLAG                        1047179 non-null  object
 15  AMORTIZATION TYPE                                             1047179 non-null  object
 16  PROPERTY STATE                                                1047179 non-null  object
 17  PROPERTY TYPE                                                 1047179 non-null  object
 18  POSTAL CODE                                                   1047179 non-null  int64
 19  LOAN SEQUENCE NUMBER                                          1047179 non-null  object
 20  LOAN PURPOSE                                                  1047179 non-null  object
 21  ORIGINAL LOAN TERM                                            1047179 non-null  int64
 22  NUMBER OF BORROWERS                                           1047179 non-null  int64
 23  SELLER NAME                                                   1047179 non-null  object
 24  SERVICER NAME                                                 1047179 non-null  object
 25  SUPER CONFORMING FLAG                                         12648 non-null    object
 26  PRE-RELIEF REFINANCE LOAN SEQUENCE NUMBER                     0 non-null        float64
 27  SPECIAL ELIGIBILITY PROGRAM                                   1047179 non-null  object
 28  RELIEF REFINANCE INDICATOR                                    0 non-null        float64
 29  PROPERTY VALUATION METHOD                                     1047179 non-null  int64
 30  INTEREST ONLY INDICATOR (I/O INDICATOR)                       1047179 non-null  object
 31  MI CANCELLATION INDICATOR                                     1047179 non-null  object
dtypes: float64(4), int64(13), object(15)
memory usage: 255.7+ MB

In [11]:
df.head()

,CREDIT SCORE,FIRST PAYMENT DATE,FIRST TIME HOMEBUYER FLAG,MATURITY DATE,METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION,MORTGAGE INSURANCE PERCENTAGE (MI %),NUMBER OF UNITS,OCCUPANCY STATUS,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),ORIGINAL DEBT-TO-INCOME (DTI) RATIO,...,NUMBER OF BORROWERS,SELLER NAME,SERVICER NAME,SUPER CONFORMING FLAG,PRE-RELIEF REFINANCE LOAN SEQUENCE NUMBER,SPECIAL ELIGIBILITY PROGRAM,RELIEF REFINANCE INDICATOR,PROPERTY VALUATION METHOD,INTEREST ONLY INDICATOR (I/O INDICATOR),MI CANCELLATION INDICATOR
0,747,202403,N,205402,NaN,0,1,P,67,26,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
1,710,202405,N,205404,NaN,0,1,P,55,36,...,1,Other sellers,NATIONSTAR MORTGAGE LLC DBA MR. COOPER,NaN,NaN,9,NaN,2,N,7
2,659,202403,N,205402,NaN,0,1,P,68,32,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
3,784,202403,N,205402,46540.0,0,1,P,76,50,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
4,775,202403,N,205402,46540.0,0,2,I,70,15,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7

In [12]:
# Keep Columns that I need
keep_cols_O = [
    "ORIGINAL UPB",
    "ORIGINAL INTEREST RATE",
    "AMORTIZATION TYPE",
    "LOAN SEQUENCE NUMBER",
    "ORIGINAL LOAN TERM"
]

Orig_2024 = df[keep_cols_O]
Orig_2024.head()

,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,LOAN SEQUENCE NUMBER,ORIGINAL LOAN TERM
0,82000,8.000,FRM,F24Q10000001,360
1,295000,7.125,FRM,F24Q10000002,360
2,305000,7.875,FRM,F24Q10000003,360
3,125000,6.750,FRM,F24Q10000004,360
4,154000,7.625,FRM,F24Q10000005,360

In [13]:
Orig_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047179 entries, 0 to 1047178
Data columns (total 5 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   ORIGINAL UPB            1047179 non-null  int64
 1   ORIGINAL INTEREST RATE  1047179 non-null  float64
 2   AMORTIZATION TYPE       1047179 non-null  object
 3   LOAN SEQUENCE NUMBER    1047179 non-null  object
 4   ORIGINAL LOAN TERM      1047179 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.9+ MB

In [14]:
output_fp = "data/process/PSA_Orig_2024.csv"
Orig_2024.to_csv(output_fp, index=False)

## Data Merge

In [15]:
# --- Left join: keep all performance rows; bring in orig attributes
df = perf_2024.merge(
    Orig_2024,
    on="LOAN SEQUENCE NUMBER",
    how="left",
    validate="many_to_one"  # perf has many rows per loan; orig should be unique per loan
)

In [16]:
df.head()

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,ORIGINAL LOAN TERM
0,82000.0,82000.0,8.0,0,0,F24Q10000001,NaN,82000,8.0,FRM,360
1,82000.0,82000.0,8.0,0,1,F24Q10000001,NaN,82000,8.0,FRM,360
2,82000.0,82000.0,8.0,0,2,F24Q10000001,NaN,82000,8.0,FRM,360
3,82000.0,82000.0,8.0,0,3,F24Q10000001,NaN,82000,8.0,FRM,360
4,82000.0,82000.0,8.0,0,4,F24Q10000001,NaN,82000,8.0,FRM,360

In [17]:
df_FRM = df[df["AMORTIZATION TYPE"] == 'FRM'] 
df_ARM = df[df["AMORTIZATION TYPE"] == 'ARM']

In [18]:
df_FRM.head()

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,ORIGINAL LOAN TERM
0,82000.0,82000.0,8.0,0,0,F24Q10000001,NaN,82000,8.0,FRM,360
1,82000.0,82000.0,8.0,0,1,F24Q10000001,NaN,82000,8.0,FRM,360
2,82000.0,82000.0,8.0,0,2,F24Q10000001,NaN,82000,8.0,FRM,360
3,82000.0,82000.0,8.0,0,3,F24Q10000001,NaN,82000,8.0,FRM,360
4,82000.0,82000.0,8.0,0,4,F24Q10000001,NaN,82000,8.0,FRM,360

In [40]:
output_fp = "data/process/PSA_2024.csv"
Orig_2024.to_csv(output_fp, index=False)

Only use data which `AMORTIZATION TYPE` = FRM

# Calculate SMM
### First, calculate Monthly mortgage payment (Included Interest and Principal)

$$ MP = MB_0 \left[ \frac{i(1+i)^n}{(1+i)^n - 1} \right]$$

$MP$ = Monthly mortgage payment  
$MB_0$ = Original mortgage balance  
$i$ = note rate divided by 12  
$n$ = number of months of the mortgage loan

The monthly payment will change when modifying happend  
Case1 : `ZERO BALANCE CODE` is not null  
Case2 : Interest is changed, which means `CURRENT INTEREST RATE` is not equal to `ORIGINAL INTEREST RATE`

In [19]:
import numpy as np
import pandas as pd

In [20]:
def _level_payment(principal_upb, annual_rate_pct, term_months):
    """
    Fixed-rate level monthly payment (standard mortgage annuity).
    Inputs:
    principal_upb: base principal used for amortization
    annual_rate_pct: annual interest %, e.g., 8.0
    term_months: remaining term in months (integer)
    Returns:
      scheduled monthly payment (float)
    """
    r = (annual_rate_pct / 100.0) / 12.0  # monthly rate in decimal
    n = int(term_months)
    if n <= 0:
        return 0.0
    if r == 0:
        return principal_upb / n
    return principal_upb * (r * (1 + r) ** n) / ((1 + r) ** n - 1)


def find_monthly_payment(i, Original_UPB, Original_Loan_Term,
                         current_interest_rate,
                         original_interest_rate,
                         loan_age,
                         zero_balance_code,
                         balance_of_last_period):
    """
    Return THIS PERIOD's scheduled payment under your two-case logic.
    Case 1: if zero_balance_code is not None -> payment = 0 (loan is closed)
    Case 2: if current_interest_rate != original_interest_rate ->
            recast using the remaining term (N - loan_age) and last period's balance
    Else: use original terms.
    Notes:
      - Parameter i is kept for compatibility but not used.
      - 'balance_of_last_period' should be the period-begin interest-bearing UPB.
    """
    if pd.notna(zero_balance_code):
        return 0.0

    if current_interest_rate != original_interest_rate:
        rem = max(int(Original_Loan_Term) - int(loan_age), 0)
        return _level_payment(balance_of_last_period, current_interest_rate, rem)

    return _level_payment(Original_UPB, original_interest_rate, int(Original_Loan_Term))

### Calculate SMM & CPR

$$ SMM = \frac{F_{sched} -F_2}{F_{sched}} $$  

$F_{sched}$ = Scheduled principal balance = Principal balance of last period - Scheduled Principal payment<br> 
Scheduled Principal payment = Monthly mortgage payment - Interest<br>
Interest = Principal Balance of last period * (interest rate)<br>
$F_2$ = Actual principal balance
$$ (1-SMM)^{12} = (1-CPR)$$

In [21]:
def interest_payment(i, p_last):
    """
    Scheduled interest for this period:
    i: current annual interest rate in %
    p_last: period-begin interest-bearing UPB (last period's ending balance)
    """
    r_m = (i / 100.0) / 12.0
    return p_last * r_m


def CPR(bal1, bal2, i, Original_UPB, Original_Loan_Term, loan_age, zero_balance_code,
        original_interest_rate, current_interest_rate):
    """
    Compute SMM & CPR from back-to-back balances and scheduled mechanics.
    Inputs:
      bal1: beginning-of-period interest-bearing UPB
      bal2: end-of-period interest-bearing UPB
      i:    current annual rate in %
    Returns:
      (SMM, CPR, scheduled_principal, prepay_amount) where SMM/CPR are decimals.
    """
    # Case 1: zero-balance coded -> no scheduled activity
    if pd.notna(zero_balance_code):
        return 0.0, 0.0, 0.0, 0.0

    # Scheduled payment (Case 2 recast supported)
    pay = find_monthly_payment(
        i=i, 
        Original_UPB=Original_UPB,                 
        Original_Loan_Term=Original_Loan_Term,          
        current_interest_rate=current_interest_rate,
        original_interest_rate=original_interest_rate,
        loan_age=loan_age,
        zero_balance_code=np.nan,       
        balance_of_last_period=bal1     
    )

    # Scheduled interest & principal
    intr = interest_payment(current_interest_rate, bal1)
    sched_prin = max(min(pay - intr, bal1), 0.0)

    # Actual principal and prepayment
    actual_prin = max(bal1 - bal2, 0.0)
    prepay = max(actual_prin - sched_prin, 0.0)

    # SMM and CPR (decimals)
    denom = max(bal1 - sched_prin, 1e-12)  # protect against /0
    smm = prepay / denom
    cpr = 1.0 - (1.0 - smm) ** 12

    return smm, cpr, sched_prin, prepay


def compute_smm_cpr_by_row(df_FRM):
    """
    Expect columns (case-insensitive): 
      LOAN SEQUENCE NUMBER, INTEREST BEARING UPB, CURRENT ACTUAL UPB,
      CURRENT INTEREST RATE, LOAN AGE, ZERO BALANCE CODE (optional),
      ORIGINAL UPB, ORIGINAL INTEREST RATE, ORIGINAL LOAN TERM
    Returns:
      DataFrame with added columns: BAL1, BAL2, SMM, CPR, SCHEDULED_PRIN, PREPAY_AMT
    """
    df = df_FRM.copy()
    df.columns = [c.upper().strip() for c in df.columns]
    if "ZERO BALANCE CODE" not in df.columns:
        df["ZERO BALANCE CODE"] = np.nan

    # Sort within each loan by LOAN AGE to ensure time order
    df = df.sort_values(["LOAN SEQUENCE NUMBER", "LOAN AGE"]).copy()

    # Beginning-of-period balance (bal1) = previous period's ending balance.
    # For age==0 rows, use ORIGINAL UPB as period-begin balance.
    df["BAL1"] = df.groupby("LOAN SEQUENCE NUMBER")["INTEREST BEARING UPB"].shift(1)
    mask0 = df["LOAN AGE"] == 0
    df.loc[mask0, "BAL1"] = df.loc[mask0, "ORIGINAL UPB"]

    # End-of-period balance (bal2)
    df["BAL2"] = df["INTEREST BEARING UPB"].astype(float)

    # One set of original terms per loan
    terms = df.groupby("LOAN SEQUENCE NUMBER").agg({
        "ORIGINAL UPB": "first",
        "ORIGINAL INTEREST RATE": "first",
        "ORIGINAL LOAN TERM": "first"
    }).rename(columns={"ORIGINAL UPB":"F0","ORIGINAL INTEREST RATE":"I0","ORIGINAL LOAN TERM":"N0"})

    df = df.merge(terms, left_on="LOAN SEQUENCE NUMBER", right_index=True, how="left")

    # Row-wise compute (keeps your function signatures)
    res = df.apply(
        lambda r: CPR(
            bal1=float(r["BAL1"]),
            bal2=float(r["BAL2"]),
            i=float(r["CURRENT INTEREST RATE"]),
            Original_UPB=float(r["F0"]),
            Original_Loan_Term=int(r["N0"]),
            loan_age=int(r["LOAN AGE"]),
            zero_balance_code=r["ZERO BALANCE CODE"],
            original_interest_rate=float(r["I0"]),
            current_interest_rate=float(r["CURRENT INTEREST RATE"])
        ),
        axis=1,
        result_type="expand"
    )

    df[["SMM","CPR","SCHEDULED_PRIN","PREPAY_AMT"]] = res

    return df

In [22]:
df_out = compute_smm_cpr_by_row(df_FRM)
df_out.head(10)

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,ORIGINAL LOAN TERM,BAL1,BAL2,F0,I0,N0,SMM,CPR,SCHEDULED_PRIN,PREPAY_AMT
0,82000.00,82000.00,8.0,0,0,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
1,82000.00,82000.00,8.0,0,1,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
2,82000.00,82000.00,8.0,0,2,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
3,82000.00,82000.00,8.0,0,3,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
4,82000.00,82000.00,8.0,0,4,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
5,82000.00,82000.00,8.0,0,5,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
6,82000.00,82000.00,8.0,0,6,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000
7,81546.88,81546.88,8.0,0,7,F24Q10000001,NaN,82000,8.0,FRM,360,82000.00,81546.88,82000,8.0,360,0.004858,0.056765,55.020284,398.099716
8,81488.53,81488.53,8.0,0,8,F24Q10000001,NaN,82000,8.0,FRM,360,81546.88,81488.53,82000,8.0,360,0.000004,0.000045,58.041084,0.308916
9,81429.79,81429.79,8.0,0,9,F24Q10000001,NaN,82000,8.0,FRM,360,81488.53,81429.79,82000,8.0,360,0.000004,0.000046,58.430084,0.309916

In [23]:
df_out.tail(10)

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,ORIGINAL LOAN TERM,BAL1,BAL2,F0,I0,N0,SMM,CPR,SCHEDULED_PRIN,PREPAY_AMT
8307550,1053000.0,1053000.0,5.500,0,0,F24Q40281900,NaN,1058000,5.500,FRM,360,1058000.0,1053000.0,1058000,5.500,360,0.003635,0.042762,1158.040968,3841.959032
8307551,1051000.0,1051000.0,5.500,0,1,F24Q40281900,NaN,1058000,5.500,FRM,360,1053000.0,1051000.0,1058000,5.500,360,0.000779,0.009304,1180.957634,819.042366
8307552,1050000.0,1050000.0,5.500,0,2,F24Q40281900,NaN,1058000,5.500,FRM,360,1051000.0,1050000.0,1058000,5.500,360,0.000000,0.000000,1190.124301,0.000000
8307553,1049000.0,1049000.0,5.500,0,3,F24Q40281900,NaN,1058000,5.500,FRM,360,1050000.0,1049000.0,1058000,5.500,360,0.000000,0.000000,1194.707634,0.000000
8307554,1048000.0,1048000.0,5.500,0,4,F24Q40281900,NaN,1058000,5.500,FRM,360,1049000.0,1048000.0,1058000,5.500,360,0.000000,0.000000,1199.290968,0.000000
8307555,366000.0,366000.0,5.625,0,0,F24Q40281901,NaN,366000,5.625,FRM,360,366000.0,366000.0,366000,5.625,360,0.000000,0.000000,391.277439,0.000000
8307556,366000.0,366000.0,5.625,0,1,F24Q40281901,NaN,366000,5.625,FRM,360,366000.0,366000.0,366000,5.625,360,0.000000,0.000000,391.277439,0.000000
8307557,365000.0,365000.0,5.625,0,2,F24Q40281901,NaN,366000,5.625,FRM,360,366000.0,365000.0,366000,5.625,360,0.001665,0.019798,391.277439,608.722561
8307558,364000.0,364000.0,5.625,0,3,F24Q40281901,NaN,366000,5.625,FRM,360,365000.0,364000.0,366000,5.625,360,0.001657,0.019700,395.964939,604.035061
8307559,363000.0,363000.0,5.625,0,4,F24Q40281901,NaN,366000,5.625,FRM,360,364000.0,363000.0,366000,5.625,360,0.001648,0.019602,400.652439,599.347561

Why can UPB decrease by the same amount?

In [24]:
df_out["SCHEDULED_PRIN"].sum()

np.float64(2964849537.496257)

### Calculate PSA 
$$ PSA = 100* \frac{CPR}{min(0.2*LOAN AGE,  6.0)}$$

In [27]:
## How to determine the PSA if loan age = 0
## From definition: loan age = Month of reporting period  - First payment date + 1
# If prepayment happened and Loan age = 0, it means that the payment was made before the date of the first payment
df_out["PSA"] = np.where(
    df_out["LOAN AGE"] > 0,
    100 * df_out["CPR"] / np.minimum(0.002 * df_out["LOAN AGE"], 0.06),
    np.nan
)

In [28]:
df_out.tail(10)

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,...,BAL1,BAL2,F0,I0,N0,SMM,CPR,SCHEDULED_PRIN,PREPAY_AMT,PSA
8307550,1053000.0,1053000.0,5.500,0,0,F24Q40281900,NaN,1058000,5.500,FRM,...,1058000.0,1053000.0,1058000,5.500,360,0.003635,0.042762,1158.040968,3841.959032,NaN
8307551,1051000.0,1051000.0,5.500,0,1,F24Q40281900,NaN,1058000,5.500,FRM,...,1053000.0,1051000.0,1058000,5.500,360,0.000779,0.009304,1180.957634,819.042366,465.218992
8307552,1050000.0,1050000.0,5.500,0,2,F24Q40281900,NaN,1058000,5.500,FRM,...,1051000.0,1050000.0,1058000,5.500,360,0.000000,0.000000,1190.124301,0.000000,0.000000
8307553,1049000.0,1049000.0,5.500,0,3,F24Q40281900,NaN,1058000,5.500,FRM,...,1050000.0,1049000.0,1058000,5.500,360,0.000000,0.000000,1194.707634,0.000000,0.000000
8307554,1048000.0,1048000.0,5.500,0,4,F24Q40281900,NaN,1058000,5.500,FRM,...,1049000.0,1048000.0,1058000,5.500,360,0.000000,0.000000,1199.290968,0.000000,0.000000
8307555,366000.0,366000.0,5.625,0,0,F24Q40281901,NaN,366000,5.625,FRM,...,366000.0,366000.0,366000,5.625,360,0.000000,0.000000,391.277439,0.000000,NaN
8307556,366000.0,366000.0,5.625,0,1,F24Q40281901,NaN,366000,5.625,FRM,...,366000.0,366000.0,366000,5.625,360,0.000000,0.000000,391.277439,0.000000,0.000000
8307557,365000.0,365000.0,5.625,0,2,F24Q40281901,NaN,366000,5.625,FRM,...,366000.0,365000.0,366000,5.625,360,0.001665,0.019798,391.277439,608.722561,494.938261
8307558,364000.0,364000.0,5.625,0,3,F24Q40281901,NaN,366000,5.625,FRM,...,365000.0,364000.0,366000,5.625,360,0.001657,0.019700,395.964939,604.035061,328.335097
8307559,363000.0,363000.0,5.625,0,4,F24Q40281901,NaN,366000,5.625,FRM,...,364000.0,363000.0,366000,5.625,360,0.001648,0.019602,400.652439,599.347561,245.026673

In [29]:
df_out.head(10)

,INTEREST BEARING UPB,CURRENT ACTUAL UPB,CURRENT INTEREST RATE,CURRENT LOAN DELINQUENCY STATUS,LOAN AGE,LOAN SEQUENCE NUMBER,ZERO BALANCE CODE,ORIGINAL UPB,ORIGINAL INTEREST RATE,AMORTIZATION TYPE,...,BAL1,BAL2,F0,I0,N0,SMM,CPR,SCHEDULED_PRIN,PREPAY_AMT,PSA
0,82000.00,82000.00,8.0,0,0,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,NaN
1,82000.00,82000.00,8.0,0,1,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
2,82000.00,82000.00,8.0,0,2,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
3,82000.00,82000.00,8.0,0,3,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
4,82000.00,82000.00,8.0,0,4,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
5,82000.00,82000.00,8.0,0,5,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
6,82000.00,82000.00,8.0,0,6,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,82000.00,82000,8.0,360,0.000000,0.000000,55.020284,0.000000,0.000000
7,81546.88,81546.88,8.0,0,7,F24Q10000001,NaN,82000,8.0,FRM,...,82000.00,81546.88,82000,8.0,360,0.004858,0.056765,55.020284,398.099716,405.463328
8,81488.53,81488.53,8.0,0,8,F24Q10000001,NaN,82000,8.0,FRM,...,81546.88,81488.53,82000,8.0,360,0.000004,0.000045,58.041084,0.308916,0.284312
9,81429.79,81429.79,8.0,0,9,F24Q10000001,NaN,82000,8.0,FRM,...,81488.53,81429.79,82000,8.0,360,0.000004,0.000046,58.430084,0.309916,0.253722